<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AcaoUsuario</servlet-name>
        <servlet-class>Servlet.AcaoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoLogin</servlet-name>
        <servlet-class>Servlet.AcaoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoCategoria</servlet-name>
        <servlet-class>Servlet.AcaoCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoMovimento</servlet-name>
        <servlet-class>Servlet.AcaoMovimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoPessoa</servlet-name>
        <servlet-class>Servlet.AcaoPessoa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcaoUsuario</servlet-name>
        <url-pattern>/AcaoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoLogin</servlet-name>
        <url-pattern>/AcaoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoCategoria</servlet-name>
        <url-pattern>/AcaoCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoMovimento</servlet-name>
        <url-pattern>/AcaoMovimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoPessoa</servlet-name>
        <url-pattern>/AcaoPessoa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
